<!-- Using Template Engine for header,navigation bar and footer sections -->

{% extends 'partials/_base.html' %}

<!-- Loading static files from Temple_doc -->

{% load static %}

 <!-- Special contents of owner.html begins here -->

{% block content %}

  <div class="main_content">
    <div class="main_content_bg">
      <img src="images/content-bg.jpg" alt="">
    </div>

    <!-- service section -->

<section class="service_section layout_padding">
  <div class="container py_mobile_45">
    <div class="heading_container heading_center">
      <!-- Gettin properties from owners/views.py -->
      <h2> {{user.username}} </h2>
    </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box " style="background-color:tomato">
        <div class="detail-box">
          <!-- Gettin name and surname properties -->
          <h2>
            {{owner.name}}
          </h2>
            <h3>
            {{owner.surname}}
            </h3>
          <p>
          <!-- Gettin contact property  -->
            Contact :  {{owner.contact}}
          </p>
          <p>
          <!-- Gettin phone_number property  -->
            Phone Number :  {{owner.phone_number}}
          </p>
          <p>
          <!-- Gettin email propertiy  -->
            Email :  {{owner.email}}
        </div>
      </div>
    <!-- Owner's Animals -->
    </div>
        <div class="row">
          <!-- This loop provides getting anımals objects from anımal_list which in animal/views.py -->
          {% for anımal in anımals %}
          <div class="col-md-4">
            <div class="box " style="background-color:grey">
              <div class="detail-box">
                <h5>
                  <!-- Gettin name  property  -->
                  <a href="{% url 'anımals_detail' anımal.pk %}"> {{anımal.name}}</a>
                </h5>
                <p>
                  <!-- Gettin type  property  -->
                   Type :  {{anımal.type}}
                </p>
                <p>
                  <!-- Gettin species  property  -->
                  Species :  {{anımal.species}}
                </p>
                <p>
                  <!-- Gettin age  property  -->
                  Age :  {{anımal.age}}
                </p>
                <!-- Gettin description  property | truncatechars  provides shwoing 100 characters to user -->
                   {{anımal.description | truncatechars:100 }}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
          </div> 
        </div> 
      </div> 
    </div>
  </div>
</section>
    <!-- end service section -->

  </div>

  {% endblock %}

  <!-- Special contents of owner.html  ends here -->